/*----------MAIN----------*/
.main {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

/*-----PICTURE/ABOUT-----*/
.about__me {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: var(--text__font);
}

.about__photo {
    width: 400px;
    height: 450px;
    border: 3px solid var(--background);
    border-radius: 18px;
    box-shadow: 0 1px 4px var(--background);
    overflow: hidden;
}

.about__photo__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__card {
    flex: 1;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px solid var(--background);
    border-radius: 18px;
    box-shadow: 0 1px 4px var(--background);
    padding: 18px 16px;
}
.about__text {
    font-family: inherit;
    font-size: 22px;
    line-height: 1.8;
}

/*-----EDUCATION/SKILLS-----*/
.education__and__skills {
    font-family: var(--text__font);
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 60px;
}

.education {
    font-family: var(--design__font);
    letter-spacing: -1px;    
    width: 400px;
    text-align: center;
}

.heading {
    font-size: 40px;
    margin: 15px auto;
}
.school {
    font-size: 20px;
    letter-spacing: 1.1px;
    line-height: 30px;
}

/*-----SKILLS-----*/
.skills__image {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    column-gap: 40px;
    row-gap: 20px;
    margin: 0 auto;
}
.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: var(--frame__background);
    border: 3px solid var(--background);
    border-radius: 30%;
    box-shadow: 0 1px 4px var(--background);
    backdrop-filter: blur(5px);
    transition: 0.7s;
}
.skill_svg {
    width: 70%;
    height: 70%;
}
.skill i {
    font-size: 80px;
}
.skill:hover {
    transform: scale(1.05);
}

/*----------SCREEN DISPLAY----------*/
/* 22 inch Monitor - 1920x1080 */
@media screen and (max-width: 1920px) and (min-width: 1680px) {
    .frame {
        margin: 75px 340px;
        height: auto;
        min-height: 78vh;
    }
    .navigator .nav__ul {
        gap: 53px;
    }
    .navigator .nav__li {
        font-size: 23px;
    }
    .main {
        margin: 0 45px;
    }
    .about__me {
        gap: 45px;
    }
    .about__photo {
        width: 300px;
        height: 338px;
    }
    .about__card {
        max-height: 338px;
        padding: 14px 12px;
    }
    .about__text {
        font-size: 16px;
        line-height: 1.6;
    }
    .education__and__skills {
        gap: 45px;
        margin-top: 52px;
    }
    .education {
        width: 300px;
    }
    .heading {
        font-size: 30px;
    }
    .school {
        font-size: 15px;
        line-height: 21px;
    }
    .skills__image {
        grid-template-columns: repeat(7, 75px);
        column-gap: 30px;
        row-gap: 15px;
    }
    .skill {
        width: 75px;
        height: 75px;
        border-width: 2px;
    }
    .skill_svg {
        width: 52%;
        height: 52%;
    }
    .skill i {
        font-size: 60px;
    }
}

/* MacBook Pro - 1440x900 */
@media screen and (max-width: 1679px) and (min-width: 1200px) {
    .frame {
        margin: 40px 100px;
        height: auto;
        min-height: 100vh;
    }
    .navigator .nav__ul {
        gap: 40px;
    }
    .navigator .nav__li {
        font-size: 17px;
    }
    .main {
        margin: 3px 28px;
    }
    .about__me {
        gap: 34px;
    }
    .about__photo {
        width: 229px;
        height: 258px;
    }
    .about__card {
        max-height: 258px;
        padding: 10px 9px;
    }
    .about__text {
        font-size: 12px;
        line-height: 1.5;
    }
    .education__and__skills {
        gap: 34px;
        margin-top: 34px;
    }
    .education {
        width: 229px;
    }
    .heading {
        font-size: 23px;
        margin: 9px auto;
    }
    .school {
        font-size: 11px;
        line-height: 16px;
    }
    .skills__image {
        grid-template-columns: repeat(7, 56px);
        column-gap: 22px;
        row-gap: 11px;
    }
    .skill {
        width: 56px;
        height: 56px;
        border-width: 2px;
    }
    .skill_svg {
        width: 50%;
        height: 50%;
    }
    .skill i {
        font-size: 45px;
    }
}