/*----------MAIN----------*/
.main {
    display: flex;
    flex-direction: row;
    margin: 5px 90px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.my__email {
    font-family: var(--design__font), var(--text__font);
    font-size: 52px;
    margin: 10px auto;
}

/*-----BOX-----*/
.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    margin: 10px auto;
}

.box__input {
    font-family: var(--text__font);
    height: 50px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--box__shadow);
    padding: 0 26px;
    font-size: 20px;
}

.comment__box {
    padding: 18px 24px;
    height: 280px;
    resize: none;
}

.user_email_box:focus-visible, 
.subject_box:focus-visible, 
.comment_box:focus-visible {
  outline: none;
}

/*-----BUTTON-----*/
.button {
    margin: 20px auto;
    display: flex;
    gap: 25px;
}

.btn {
    font-family: var(--design__font);
    width: 200px;
    height: 50px;
    border: 3px solid var(--background);
    box-shadow: 0 1px 4px var(--background);
    border-radius: 10px;
    font-size: 24px;
    background-color: var(--frame__background);
    transition: 0.3s;
    cursor: pointer;
}

.button:has(.send:hover) .send {
    transform-origin: left center;
    transform: scaleX(1.05);
}

.button:has(.send:hover) .reset {
    transform-origin: right center;
    transform: scaleX(0.95);
}

.button:has(.reset:hover) .reset {
    transform-origin: right center;
    transform: scaleX(1.05);
}

.button:has(.reset:hover) .send {
    transform-origin: left center;
    transform: scaleX(0.95)
}

.bubble {
    width: 140px;
}
/*----------SCREEN DISPLAY----------*/
/* 22 inch Monitor - 1920x1080 */
@media screen and (max-width: 1920px) and (min-width: 1680px) {
    .frame {
        margin: 75px 340px;
        min-height: 75vh;
    }
    .navigator .nav__ul {
        gap: 53px;
    }
    .navigator .nav__li {
        font-size: 23px;
    }
    .main {
        margin: 4px 68px;
    }
    .contact {
        margin: 0 auto;
    }
    .my__email {
        font-size: 39px;
    }
    .box {
        width: 525px;
    }
    .box__input {
        height: 37px;
        font-size: 15px;
        padding: 0 19px;
    }
    .comment__box {
        padding: 13px 18px;
        height: 210px;
    }
    .btn {
        width: 150px;
        height: 37px;
        font-size: 18px;
    }
    .button {
        gap: 19px;
    }
    .bubble {
        width: 105px;
    }
}

/* MacBook Pro - 1440x900 */
@media screen and (max-width: 1679px) and (min-width: 1200px) {
    .frame {
        margin: 40px 100px;
        min-height: 100vh;
    }
    .navigator .nav__ul {
        gap: 40px;
    }
    .navigator .nav__li {
        font-size: 17px;
    }
    .main {
        margin: 3px 50px;
    }
    .contact {
        margin: 0 auto;
    }
    .my__email {
        font-size: 29px;
    }
    .box {
        width: 394px;
    }
    .box__input {
        height: 28px;
        font-size: 11px;
        padding: 0 15px;
    }
    .comment__box {
        padding: 10px 13px;
        height: 157px;
    }
    .btn {
        width: 112px;
        height: 28px;
        font-size: 13px;
        border-width: 2px;
    }
    .button {
        gap: 14px;
        margin: 11px auto;
    }
    .bubble {
        width: 78px;
        font-size: 6px;
    }
}