/*----------MAIN----------*/
.main {
    display: flex;
    flex-direction: row;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.my__email {
    font-family: var(--design__font), var(--text__font);
    font-size: 52px;
    margin: 10px auto;
}

/*-----BOX-----*/
.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    margin: 10px auto;
}

.box__input {
    font-family: var(--text__font);
    height: 50px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--box__shadow);
    padding: 0 26px;
    font-size: 20px;
}

.comment__box {
    padding: 18px 24px;
    height: 280px;
    resize: none;
}

.user_email_box:focus-visible, 
.subject_box:focus-visible, 
.comment_box:focus-visible {
  outline: none;
}

/*-----BUTTON-----*/
.button {
    margin: 20px auto;
    display: flex;
    gap: 25px;
}

.btn {
    font-family: var(--design__font);
    width: 200px;
    height: 50px;
    border: 3px solid var(--background);
    box-shadow: 0 1px 4px var(--background);
    border-radius: 10px;
    font-size: 24px;
    background-color: var(--frame__background);
    transition: 0.3s;
    cursor: pointer;
}

.button:has(.send:hover) .send {
    transform-origin: left center;
    transform: scaleX(1.05);
}

.button:has(.send:hover) .reset {
    transform-origin: right center;
    transform: scaleX(0.95);
}

.button:has(.reset:hover) .reset {
    transform-origin: right center;
    transform: scaleX(1.05);
}

.button:has(.reset:hover) .send {
    transform-origin: left center;
    transform: scaleX(0.95)
}

.bubble {
    width: 140px;
}
/*----------SCREEN DISPLAY----------*/
/* MAC (13 ~ 15inches) */
@media screen and (max-width: 1440px){
    .frame{
        margin: 80px 200px;
        height: 110vh;
    }
    h3{
        font-size: 38px;
        padding: 0 50px;
    }
    ul{
        padding: 0 50px;
    }
    li{
        margin-left: 30px;
        font-size: 18px;
    }
    .main{
        margin: 5px 80px;
        justify-content: center;
    }
    .contact{
        padding-right: 0;
        align-items: center;
    }
    p{
        font-size: 40px;
        text-align: center;
    }
    .box{
        width: 500px;
        align-items: center;
    }
    .user_email_box, .subject_box{
        width: 100%;
        font-size: 18px;
    }
    .comment_box{
        width: 500px;
        height: 200px;
        font-size: 18px;
    }
}

/* Mobile Phone - Portrait */
@media screen and (max-width: 768px) and (orientation: portrait) {
    .frame{
        margin: 40px 20px;
        border-radius: 40px;
        height: 135vh;
        background-size: 100% 250px;
    }
    .navigator{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    h3{
        font-size: 24px;
        padding: 20px;
    }
    ul{
        padding: 0 20px 20px 20px;
        margin-left: 0;
    }
    li{
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 16px;
        text-align: center;
    }
    .main{
        margin: 5px 20px;
        flex-direction: column;
        align-items: center;
    }
    .contact{
        padding-right: 0;
        gap: 30px;
    }
    p{
        font-size: 18px;
        margin-top: -30px;
        margin-bottom: -20px;
    }
    .box{
        width: 100%;
        max-width: 400px;
        align-items: center;
    }
    .user_email_box, .subject_box{
        width: 250px;
        height: 45px;
        font-size: 16px;
        padding: 0 20px;
    }
    .comment_box{
        width: 100%;
        width: 250px;
        height: 200px;
        font-size: 16px;
        padding: 15px 20px;
    }
    .button{
        margin-top: -10px;
        gap: 10px;
    }
    .btn{
        height: 45px;
        font-size: 10px;
        flex: 0 0 115px;
    }
    .walking_dog{
        width: 150px;
        transform: translateY(-35px);
    }
    .emoji{
        left: 100px;
        bottom: 150px;
        font-size: 12px;
    }
}

/* Mobile Phone - Landscape */
@media screen and (max-height: 768px) and (orientation: landscape) {
    .frame{
        margin: 20px 80px;
        border-radius: 40px;
        height: 200vh;
        background-size: 100% 200px;
    }
    .navigator{
        flex-direction: row;
    }
    h3{
        font-size: 20px;
        padding: 0 30px;
    }
    ul{
        padding: 0 30px;
    }
    li{
        display: inline;
        margin-left: 15px;
        margin-bottom: 0;
        font-size: 14px;
    }
    .main{
        margin: 5px 60px;
        margin-left: 100px;
        align-items: center;
    }
    .contact{
        padding-right: 50px;
        gap: 30px;
    }
    p{
        font-size: 20px;
        margin-top: -30px;
        margin-bottom: -20px;
    }
    .box{
        width: 500px;
        align-items: center;
    }
    .user_email_box, .subject_box{
        width: 300px;
        height: 40px;
        font-size: 16px;
    }
    .comment_box{
        width: 300px;
        height: 200px;
        font-size: 16px;
    }
    .btn{
        width: 160px;
        height: 50px;
        font-size: 20px;
        flex: 0 0 160px;
    }
    .walking_dog{
        width: 180px;
        transform: translateY(-40px);
    }
    .emoji{
        left: 120px;
        bottom: 120px;
        font-size: 12px;
    }
}