html {
    scroll-behavior: smooth;
}

/*----------NAVIGATOR----------*/
.subnav {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.subnav a {
    font-family: var(--nav__font);
    padding: 8px 14px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--box__shadow);
}

.subnav:has(.project_btn:hover) .project_btn {
    transform-origin: left center;
    transform: scaleX(1.05);
}

.subnav:has(.project_btn:hover) .research_btn {
    transform-origin: right center;
    transform: scaleX(0.95);
}

.subnav:has(.research_btn:hover) .project_btn {
    transform-origin: left center;
    transform: scaleX(0.95);
}

.subnav:has(.research_btn:hover) .research_btn {
    transform-origin: left right center;
    transform: scaleX(1.05); 
}

.subnav:has(.research_btn:hover) .experience_btn {
    transform-origin: right center;
    transform: scaleX(0.95);
}

.subnav:has(.experience_btn:hover) .research_btn {
    transform-origin: left center;
    transform: scaleX(0.95);
}

.subnav:has(.experience_btn:hover) .experience_btn {
    transform-origin: right center;
    transform: scaleX(1.05);
}

/*----------MAIN----------*/
.main {
    margin: 5px 180px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*-----SECTION-----*/
.projects, .research, .experience {
    font-family: var(--text__font);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

/*-----HEADING-----*/
.heading {
    font-family: var(--design__font);
    font-size: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.zotbotics_heading, .drone_heading, .calculator_heading, 
.log_parser_heading, .hacker_heading, .mailpilot_heading, 
.AICPS_heading, .ops_heading, .la_heading, .mytodo_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.zotbotics, .drone, .mailpilot,
.calculator, .log_parser, .AICPS, 
.IEEE, .Hacker, .mytodo {
    width: 100%;
    border: var(--border);
    border-radius: 30px;
    box-shadow: var(--box__shadow);
    height: auto;
}

/*-----TITLE/DATE-----*/
.title {
    font-family: var(--text__font);
    font-size: 28px;
}

.date {
    font-family: var(--text__font);
    padding-left: 40px;
    font-size: 16px;
    opacity: 0.7;
    font-style: italic;
}

/*-----CONTENT-----*/
.content {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 40px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}

.src {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    gap: 8px;
}

/*-----PROJECTS-----*/
/*-ZOTBOTICS-*/
.content.interstellar {
    font-style: italic;
}

.hierarchical {
    width: 35%;
    height: 390px;
    border: var(--border);
    border-radius: 40px;
    margin: 0;
}
.zeroshot {
    width: 65%;
    height: 390px;
    border: var(--border);
    border-radius: 40px;
    margin: 0;
}

/*-MYTODO-*/
.mytodo_content {
    margin-top: 0;
    padding: 0 40px;
    font-family: var(--text__font);
    font-size: 20px;
    line-height: 35px;
}

.todo {
    margin-top: -20px;
    margin-right: 40px;
    margin-bottom: 50px;
    border: var(--border);
    border-radius: 40px;
    width: 400px;
    height: 400px;
}

/*-DRONE-*/
.list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    margin-left: 50px;
    list-style: disc;
}

.list li {
    text-align: left;
    max-width: 67ch;
    font-family: var(--text__font);
}

.drone_pic {
    width: 50%;
    height: 380px;
    border: var(--border);
    border-radius: 40px;
    margin:0;
}

.drone_vid {
    width: 50%;
    height: 380px;
    border: var(--border);
    border-radius: 40px;
    margin:0;
    object-fit: cover;
}

/*-CALCULATOR-*/
.sep {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cal_content {
    margin-top: 0;
    padding: 0 40px;
    font-family: var(--text__font);
    font-size: 20px;
    line-height: 35px;
}
.calc {
    margin-top: -20px;
    margin-right: 40px;
    margin-bottom: 50px;
    border: var(--border);
    border-radius: 40px;
    width: 400px;
    height: 400px;
}

/*-----RESEARCH-----*/
.plot {
    width: 70%;
    height: 280px;
    border: var(--border);
    border-radius: 40px;
    margin:0;
}
.vid {
    width: 30%;
    height: 280px;
    border: var(--border);
    border-radius: 40px;
    margin:0;
    object-fit: contain;
}
/*-----EXPERIENCE-----*/
/*-OPS-*/
.ops {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 23px;
    font-family: var(--text__font);
}

.ops_vid {
    width: 30%;
    height: 250px;
    border: var(--border);
    border-radius: 40px;
    margin:0;
    object-fit: cover;
    flex-shrink: 0;
}

.odd {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    align-items: center;
}

.even {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
    align-items: center;
}

.odd_num_content {
    max-width: 45ch;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    font-family: var(--text__font);
}

.even_num_content {
    max-width: 45ch;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    font-family: var(--text__font);
}





/*----------SCREEN DISPLAY----------*/
/* 22 inch Monitor - 1920x1080 */
@media screen and (max-width: 1920px) and (min-width: 1680px) {
    .frame {
        margin: 75px 340px;
    }
    .navigator .nav__ul {
        gap: 53px;
    }
    .navigator .nav__li {
        font-size: 23px;
    }
    .subnav {
        gap: 14px;
        font-size: 18px;
    }
    .subnav a {
        padding: 6px 11px;
    }
    .main {
        margin: 4px 135px;
    }
    .heading {
        font-size: 45px;
        margin-bottom: 22px;
    }
    .projects, .research, .experience {
        font-size: 18px;
        gap: 30px;
    }
    .zotbotics_heading, .drone_heading, .calculator_heading,
    .log_parser_heading, .hacker_heading, .mailpilot_heading,
    .AICPS_heading, .ops_heading, .la_heading, .mytodo_heading {
        padding-left: 22px;
        padding-right: 22px;
    }
    .title {
        font-size: 21px;
    }
    .date {
        padding-left: 30px;
        font-size: 12px;
    }
    .content {
        padding-left: 22px;
        padding-right: 30px;
        font-size: 15px;
        line-height: 22px;
    }
    .hierarchical {
        height: 292px;
    }
    .zeroshot {
        height: 292px;
    }
    .todo, .calc {
        width: 300px;
        height: 300px;
        margin-right: 30px;
    }
    .drone_pic, .drone_vid {
        height: 285px;
    }
    .plot {
        height: 210px;
    }
    .vid {
        height: 210px;
    }
    .ops {
        font-size: 17px;
        gap: 22px;
    }
    .ops_vid {
        height: 187px;
    }
}

/* MacBook Pro - 1440x900 */
@media screen and (max-width: 1679px) and (min-width: 1200px) {
    .frame {
        margin: 40px 100px;
    }
    .navigator .nav__ul {
        gap: 40px;
    }
    .navigator .nav__li {
        font-size: 17px;
    }
    .subnav {
        gap: 10px;
        font-size: 13px;
    }
    .subnav a {
        padding: 5px 8px;
    }
    .main {
        margin: 3px 57px;
    }
    .heading {
        font-size: 34px;
        margin-bottom: 16px;
    }
    .projects, .research, .experience {
        font-size: 13px;
        gap: 22px;
    }
    .zotbotics_heading, .drone_heading, .calculator_heading,
    .log_parser_heading, .hacker_heading, .mailpilot_heading,
    .AICPS_heading, .ops_heading, .la_heading, .mytodo_heading {
        padding-left: 17px;
        padding-right: 17px;
    }
    .title {
        font-size: 16px;
    }
    .date {
        padding-left: 22px;
        font-size: 9px;
    }
    .content {
        padding-left: 17px;
        padding-right: 22px;
        font-size: 11px;
        line-height: 17px;
    }
    .src {
        padding-left: 17px;
        padding-right: 17px;
        gap: 5px;
    }
    .hierarchical {
        height: 219px;
    }
    .zeroshot {
        height: 219px;
    }
    .todo, .calc {
        width: 225px;
        height: 225px;
        margin-right: 22px;
        margin-top: -11px;
        margin-bottom: 28px;
    }
    .mytodo_content, .cal_content {
        padding: 0 22px;
        font-size: 11px;
        line-height: 19px;
    }
    .drone_pic, .drone_vid {
        height: 213px;
    }
    .plot {
        height: 157px;
    }
    .vid {
        height: 157px;
    }
    .list {
        gap: 5px;
        margin-left: 28px;
    }
    .ops {
        font-size: 13px;
        gap: 17px;
    }
    .ops_vid {
        height: 140px;
    }
    .odd, .even {
        padding-left: 28px;
        padding-right: 28px;
    }
    .odd_num_content, .even_num_content {
        max-width: 30ch;
        font-size: 13px;
    }
}