/*----------MAIN----------*/
.main {
    display: flex;
    flex-direction: column;
    margin: 5px 90px;
    margin-bottom: 50px;
}
.resume_class {
    display: flex;
    justify-content: center;
}
.resume {
    width: 60%;
    min-height: 80vh;
    border: var(--border);
    border-radius: 40px;
    box-shadow: var(--box__shadow);
}

/*----------SCREEN DISPLAY----------*/
/* 22 inch Monitor - 1920x1080 */
@media screen and (max-width: 1920px) and (min-width: 1680px) {
    .frame {
        margin: 75px 340px;
        min-height: 75vh;
    }
    .navigator .nav__ul {
        gap: 53px;
    }
    .navigator .nav__li {
        font-size: 23px;
    }
    .main {
        margin-bottom: 38px;
    }
    .resume {
        width: 60%;
        min-height: 75vh;
    }
}

/* MacBook Pro - 1440x900 */
@media screen and (max-width: 1679px) and (min-width: 1200px) {
    .frame {
        margin: 40px 100px;
        min-height: 70vh;
    }
    .navigator .nav__ul {
        gap: 40px;
    }
    .navigator .nav__li {
        font-size: 17px;
    }
    .main {
        margin: 3px 50px;
        margin-bottom: 28px;
    }
    .resume {
        width: 62%;
        min-height: 60vh;
    }
}