/*----------MAIN----------*/
.main {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.resume_class {
    display: flex;
    justify-content: center;
}
.resume {
    width: 60%;
    min-height: 80vh;
    border: var(--border);
    border-radius: 40px;
    box-shadow: var(--box__shadow);
}

/*----------SCREEN DISPLAY----------*/
/* MAC (13 ~ 15inches) */
@media screen and (max-width: 1440px){
    .frame{
        margin: 80px 200px;
        height: 130vh;
    }
    h3{
        font-size: 38px;
        padding: 0 50px;
    }
    ul{
        padding: 0 50px;
    }
    li{
        margin-left: 30px;
        font-size: 18px;
    }
}

/* Mobile Phone - Portrait */
@media screen and (max-width: 768px) and (orientation: portrait) {
    .frame{
        margin: 40px 20px;
        border-radius: 40px;
        height: 140vh;
    }
    h3{
        font-size: 24px;
        padding: 0 20px;
    }
    ul{
        padding: 0 20px;
    }
    li{
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .resume{
        width: 90%;
        height: 800px;
    }
}

/* Mobile Phone - Landscape */
@media screen and (max-height: 768px) and (orientation: landscape) {
    .frame{
        margin: 20px 80px;
        border-radius: 40px;
        height: auto;
        min-height: 140vh;
    }
    .navigator{
        flex-direction: row;
    }
    h3{
        font-size: 20px;
        padding: 0 30px;
    }
    ul{
        padding: 0 30px;
    }
    li{
        display: inline;
        margin-left: 15px;
        margin-bottom: 0;
        font-size: 14px;
    }
    .resume{
        width: 70%;
        height: 100vh;
    }
}