/*----------SCREEN DISPLAY----------*/
/* MAC (13 ~ 15inches) */
@media screen and (max-width: 1440px) {
    .frame {
        margin: 80px 200px;
    }
    h3 {
        font-size: 38px;
        padding: 0 50px;
    }
    ul {
        padding: 0 50px;
    }
    li {
        margin-left: 30px;
        font-size: 18px;
    }
}

/* Mobile Phone */
@media screen and (max-width: 768px) {
    .frame {
        margin: 40px 20px;
        border: 10px solid white;
        border-radius: 40px;
        height: 200px;
    }
    h3 {
        font-size: 24px;
        padding: 0 20px;
    }
    ul {
        padding: 0 20px;
    }
    li {
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .resume {
        width: 90%;
        height: 500px;
    }
}