:root{
    --nav__font: "Orbitron";
    --text__font: sans-serif;
    --design__font: "Russo One";
    --background: #111214;
    --frame__background: #fbfbfd;
    --border: 3px solid var(--background);
    --box__shadow: 0 1px 4px var(--background);
}
*, 
*::before,
*::after{
    box-sizing: inherit;
}
body{
    background: var(--background);
    box-sizing: border-box;
}
.frame{
    margin: 100px 450px;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    position: relative;
    background-color: var(--frame__background);
    border: 20px solid var(--frame__background);
    border-style: double;
    border-radius: 20px;
    background-clip: padding-box;
    overflow: hidden;
}
/*----------BODY DESIGN----------*/
.astronaut__wrap{
    position: absolute;
    width: 200px;
    bottom: 0;
    left: -130px;
    animation: run 6s linear infinite;
}
.astronaut{
    display: block;
}
@keyframes run{
    from { transform: translateX(0); }
    to   { transform: translateX(calc(150vh)); }
}
.bubble{
    font-family: var(--design__font), var(--text__font);
    font-size: 20px;
    position: absolute;
    left: 120px;
    bottom: 130px;
    padding: 5px 10px;
    text-align: center;
    width: 170px;
    background: var(--frame__background);
    border: 2px solid var(--background);
    border-radius: 14px;
}
/*----------NAVIGATOR----------*/
.navigator{
    font-family: var(--nav__font), var(--text__font);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
}
.nav__ul{
    display: flex;
    gap: 70px;
}
.nav__li{
    display: inline;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
a:hover{
    color: #6b6b6b;
}

/*----------HOME----------*/
.home{
    display: flex;
    flex-direction: column;
}
.sub_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.intro{
    font-family: var(--design__font), var(--text__font);
    font-size: 46px;
    padding: 0 70px;
    line-height: 50px;
    text-align: center;
    color: black;
    margin: 0 30px;
}
.hi__msg{
    font-size: 64px;
}
.intro__msg{
    line-height: 70px;
}
.profile{
    display: flex;
    flex-direction: column;
}
.my_image{
    width: 380px;
    height: 370px;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    margin: 20px 100px;
}
.me{
    width: 100%;
    height: 100%;
}

/*-----NAME-----*/
.name{
    font-family: var(--design__font), var(--text__font);
    font-size: 52px;
    text-align: center;
    letter-spacing: 4px;
    margin: 20px 0;
}

/*-----SOCIAL MEDIA-----*/
.social_media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.social_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 50%;
    text-decoration: none;
    backdrop-filter: blur(5px);
    transition: 1s;
}
.mail_icon{
    width: 76%;
    height: 76%;
}
.social_item.mail:hover, .social_item.linkedin:hover{
    transform: translateY(-10px);
}
.social_item.github:hover{
    color:black;
    transform: translateY(-10px);
}
.social_item.linkedin{
    color:rgba(10, 102, 194, 1)
}
.social_item i {
    font-size: 2.2rem;
}

/*----------SCREEN DISPLAY----------*/
/* 22 inch Monitor - 1920x1080 */
@media screen and (max-width: 1920px) and (min-width: 1680px) {
    .frame {
        margin: 75px 340px;
        min-height: 82vh;
    }
    .navigator {
        margin: 30px 0;
    }
    .nav__ul {
        gap: 53px;
    }
    .nav__li {
        font-size: 23px;
    }
    .intro {
        font-size: 35px;
        padding: 0 53px;
        line-height: 38px;
    }
    .hi__msg {
        font-size: 48px;
    }
    .intro__msg {
        line-height: 53px;
    }
    .my_image {
        width: 285px;
        height: 278px;
        margin: 15px 75px;
    }
    .name {
        font-size: 39px;
    }
    .social_item {
        width: 34px;
        height: 34px;
    }
    .social_item i {
        font-size: 1.65rem;
    }
    .astronaut__wrap {
        width: 150px;
        left: -98px;
    }
    .bubble {
        font-size: 15px;
        left: 90px;
        bottom: 98px;
        width: 128px;
    }
    @keyframes run {
        from { transform: translateX(0); }
        to { transform: translateX(calc(113vh)); }
    }
}

/* MacBook Pro 13-15 inch - 1440x900 */
@media screen and (max-width: 1679px) and (min-width: 1441px) {
    .frame {
        margin: 40px 100px;
        min-height: 75vh;
    }
    .navigator {
        margin: 24px 0;
    }
    .nav__ul {
        gap: 40px;
    }
    .nav__li {
        font-size: 17px;
    }
    .intro {
        font-size: 26px;
        padding: 0 40px;
        line-height: 29px;
    }
    .hi__msg {
        font-size: 37px;
    }
    .intro__msg {
        line-height: 40px;
    }
    .my_image {
        width: 218px;
        height: 212px;
        margin: 12px 57px;
    }
    .name {
        font-size: 30px;
        letter-spacing: 2px;
    }
    .social_item {
        width: 26px;
        height: 26px;
    }
    .social_item i {
        font-size: 1.26rem;
    }
    .mail_icon {
        width: 70%;
        height: 70%;
    }
    .astronaut__wrap {
        width: 114px;
        left: -75px;
    }
    .bubble {
        font-size: 11px;
        left: 68px;
        bottom: 74px;
        width: 97px;
        padding: 3px 6px;
    }
    @keyframes run {
        from { transform: translateX(0); }
        to { transform: translateX(calc(85vh)); }
    }
}